<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Custom Pizza</title>
  </head>
  <body>
    <h1>Build Your Own Pizza</h1>
    <form action="/custom/order" method="GET">
      <div>
        <label for="size">Size</label>
        <select id="size" name="size">
          <option value="Large">Large</option>
          <option value="Medium">Medium</option>
          <option value="Small">Small</option>
        </select>
      </div>
      <div>
        <label for="toppings">How many toppings?</label>
        <input
          type="number"
          id="toppingsIn"
          name="toppings"
          style="width: 40px;"
        />
        <ul>
          {{#each toppingsArray}}
            <li> {{this}} </li>
          {{/each}}
        </ul>
        <label for="crust">Gluten-Free Crust? ($2.00 extra)</label>
        <input type="checkbox" id="crust" name="crust" value="1" />
      </div>
      <div id="specialInstructions">
        <label for="instructions">Special Instructions (Optional)</label>
        <textarea
          id="instructions"
          name="instructions"
          rows="6"
          cols="50"
        ></textarea>
      </div>
      <div>
        <button type="submit">Calculate Price</button>
        <a href="/">Never Mind</a>
      </div>
    </form>

  </body>
</html>